.cardWinner{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: auto;
    z-index: 2;
    top: 50%;
}

.win{
    position: absolute ;
    width: 40%;
    height: 72%;
    display: flex;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.514);
}