.pokemons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.pages{
    grid-row: 1;
    grid-column: 6/8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.search{
    grid-row: 1;
    grid-column: 1/6;
}

.none{
    display: none;
}

.img-container>img{
    width: 30px;
    cursor: pointer;
}

.img-container>input{
    margin-left: 20px;
    height: 30px;
    width: 0;
    transition: all 1s ease-out ;
}

.img-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 1s ease;
}

.showpokemons{
    grid-column: 8/13;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.showpokemons>h3{
    margin: auto;
    grid-row: 1;
    grid-column: 1/5;
}

.numbers{
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.numbers>p{
    padding: 2px 30px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    transition: all 1s ease;
    border: 1px solid white;
    border-radius: 10px;
}

.numbers>p:hover{
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
}

.spinner-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0000007c;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
    /* Reglas CSS para dispositivos móviles con un ancho de al menos 320 píxeles */
    .pokemons{
        grid-template-columns: repeat(3,1fr);
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .img-container{
        width: 90%;
    }

    .img-container>input{
        display: block;
        width: 100%;
    }

    .showpokemons{
        margin-bottom: 20px;
    }

  }