.card-description{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.card-description>div{
    width: 560px;
    height: 490px;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

h2{
    
}
