nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1E90FF;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
    /* Reglas CSS para dispositivos móviles con un ancho de al menos 320 píxeles */
    nav{
        width: 100%;
        background-color: #1E90FF;
        margin-bottom: 10px;
    }
    ul{
        width: 100%;
        flex-direction: column;
    }
    li{
        width: 100%;
    }
  }